<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CCBD Systems Monitoring Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="js/rlmon_action.js"></script>
  </head>
  <body onload="navigation_selector_obj.setup_nav_buttons();">
    <div id="top-menu">
      <div class="w3-bar w3-black">
	<span class="w3-bar-item"> CCBD Systems Monitoring Dashboard</span>
	<button id="overview-button" class="w3-bar-item w3-button rlmon-display-buttons">Overview</button>
	<button id="sys-util-button" class="w3-bar-item w3-button rlmon-display-buttons">Systems Utlization</button>
	<button id="net-diag-button" class="w3-bar-item w3-button rlmon-display-buttons">Network Diagram</button>
      </div> 
    </div>
    
    <div id="overview-div" class="rlmon-display-div w3-container w3-row-padding">

	<div class="w3-section s3 w3-col w3-small w3-row-padding w3-center" style="position:sticky;top:1%">

	  <div class="w3-gray w3-card-4 w3-round-large">
	    <div class="w3-container w3-row-padding w3-padding-small">
	      <div class="w3-half w3-padding-small">
		<p>Color code based on:</p>
	      </div>
	      <div class="w3-container w3-half w3-center w3-padding-small">
		<select class="w3-padding-small w3-border" id="color-coding-selector" name="option">
		  <option> CPU utilization </option>
		  <option> RAM utilization </option>
		  <option> Disk utilization </option>
		  <option> Last login </option>
		</select>
	      </div>
	    </div>

	    <div class="w3-row-padding">
	      <div class="w3-half w3-padding-small">
		<p>From date:</p>
	      </div>
	      <div class="w3-container w3-half w3-center w3-padding-small">
		<input type="date" id="from-date-input" name="from-date" value="2021-01-01">
	      </div>
	    </div>

	    <div class="w3-row-padding">
	      <div class="w3-half w3-padding-small">
		<p>To date:</p>
	      </div>
	      <div class="w3-container w3-half w3-center w3-padding-small">
		<input type="date" id="to-date-input" name="to-date" value="2021-01-01">
	      </div>
	    </div>
	  </div>

	  <div class="w3-gray w3-section w3-card-4 w3-round-large">

	    <div class="w3-row-padding">
	      <div class="w3-half">
		<p>No. racks:</p>
	      </div>
	      <div class="w3-half w3-center">
		<p id="number-of-racks">NIL</p>
	      </div>
	    </div>

	    <div class="w3-row-padding">
	      <div class="w3-half">
		<p>No. machines:</p>
	      </div>
	      <div class="w3-half w3-center">
		<p id="number-of-machines">NIL</p>
	      </div>
	    </div>

	    <div class="w3-cell-row w3-padding w3-round-large">
	      <div class="w3-cell w3-deep-orange" style="width:20%">
		<p id="legend-div-1">0-24</p>
	      </div>
	      <div class="w3-cell w3-amber" style="width:20%">
		<p id="legend-div-2">25-49</p>
	      </div>
	      <div class="w3-cell w3-light-green" style="width:20%">
		<p id="legend-div-3">50-74</p>
	      </div>
	      <div class="w3-cell w3-green" style="width:20%">
		<p id="legend-div-4">74-100</p>
	      </div>
	      <div class="w3-cell w3-black" style="width:20%">
		<p>No data</p>
	      </div>
	    </div>

	  </div>
	</div>

      <div class="w3-row w3-col s9 w3-dark-grey w3-section w3-card-4 w3-round-large">

	<div id="rack-disp" class="w3-section w3-row-padding w3-small w3-center">
	  <!-- The rack display -->
	</div>

      </div>
    </div>
    
    <div id="sys-util-div" class="rlmon-display-div" style="display:none">
      sys-util under development
    </div>
    
    <div id="net-diag-div" class="rlmon-display-div" style="display:none">
      net-diag under development
    </div>

    <div id="machine-details-div" class="rlmon-display-div" style="display:none">
      <!-- The machine details page -->
      <div class="w3-container w3-row w3-padding">
	<div class="w3-col s4 w3-card-4">
	  <header class="w3-container w3-blue w3-padding-small w3-round-small">
	    <h2 id="server-name-md" class="w3-center"> </h2>
	  </header>
	</div>
      </div>
      <div class="w3-container w3-row">
	<div class="w3-col s4 w3-card-4 w3-round-large">
	  <div class="w3-ul w3-card-4 w3-small w3-round-large" style="width:100%">
	    <table class="w3-table w3-striped w3-bordered">
	      <tr id="hostname-md" class="w3-container w3-hover-grey w3-padding-small"></tr>
	      <!-- <li id="ip-info-md" class="w3-container w3-hover-grey w3-padding-small"></li> -->
	      <tr id="os-info-md" class="w3-container w3-hover-grey w3-padding-small"></tr>
	      <tr id="cpu-model-md" class="w3-container w3-hover-grey w3-padding-small"></tr>
	      <tr id="ram-capacity-md" class="w3-container w3-hover-grey w3-padding-small"></tr>
	      <tr id="swap-space-md" class="w3-container w3-hover-grey w3-padding-small"></tr>
	    </table>
	  </div>
	</div>
      </div>
    </div>
    <div class="w3-container w3-row w3-padding">
      <div class="w3-col s4 w3-card-4 w3-center w3-light-green w3-round-large">
	<div id="uptime-info-md" class="w3-container">
	</div>
      </div>
    </div>

  </body>
</html> 
