<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CCBD Systems Monitoring Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="js/rlmon_action.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
  </head>
  <body onload="navigation_selector_obj.setup_nav_buttons();">
    <div id="top-menu">
      <div class="w3-bar w3-black">
	<span class="w3-bar-item"> CCBD Systems Monitoring Dashboard</span>
	<button id="machine-overview-data-button" class="w3-bar-item w3-button rlmon-display-buttons">Overview</button>
	<button id="net-diag-button" class="w3-bar-item w3-button rlmon-display-buttons">Network Diagram</button>
      </div> 
    </div>
    
    <div id="machine-overview-data-div" class="rlmon-display-div w3-container w3-row-padding">

	<div id="display-settings-div" class="w3-section s3 w3-col w3-small w3-row-padding w3-center" style="position:sticky;top:1%">

	  <div class="w3-gray w3-card-4 w3-round-large">
	    <div class="w3-container w3-row-padding w3-padding-small">
	      <div class="w3-half w3-padding-small">
		<p>Color code based on:</p>
	      </div>
	      <div class="w3-container w3-half w3-center w3-padding-small">
		<select class="w3-padding-small w3-border" id="color-coding-selector" name="option">
		  <option> CPU utilization </option>
		  <option> RAM utilization </option>
		  <!-- <option> Disk utilization </option> -->
		  <option> Last login </option>
		</select>
	      </div>
	    </div>

	    <div class="w3-container w3-row-padding w3-padding-small">
	      <div class="w3-half w3-padding-small">
		<p>Display data on machines:</p>
	      </div>
	      <div class="w3-container w3-half w3-center w3-padding-small">
		<select class="w3-padding-small w3-border" id="overview-page-display-data-selector" name="option">
		  <option> Machine name </option>
		  <option> Prof in-charge </option>
		  <option> Student </option>
		  <option> IP Address </option>
		</select>
	      </div>
	    </div>

	    <div class="w3-row-padding">
	      <div class="w3-half w3-padding-small">
		<p>From date:</p>
	      </div>
	      <div class="w3-container w3-half w3-center w3-padding-small">
		<input type="date" id="from-date-input" name="from-date" value="2021-01-01">
	      </div>
	    </div>

	    <div class="w3-row-padding">
	      <div class="w3-half w3-padding-small">
		<p>To date:</p>
	      </div>
	      <div class="w3-container w3-half w3-center w3-padding-small">
		<input type="date" id="to-date-input" name="to-date" value="2021-01-01">
	      </div>
	    </div>

	    <div class="w3-row-padding">
	      <div class="w3-half w3-center w3-padding-small">
		<button id="rack-view-button" class="w3-dark-grey w3-bar-item w3-button w3-round-large">
		  Rack view
		</button>
	      </div>
	      <div class="w3-half w3-center w3-padding-small">
		<button id="graph-view-button" class="w3-dark-grey w3-bar-item w3-button w3-round-large">
		  Graph view
		</button>
	      </div>
	    </div>

	  </div>

	  <div class="w3-gray w3-section w3-card-4 w3-round-large">

	    <div class="w3-row-padding">
	      <div class="w3-half">
		<p>No. racks:</p>
	      </div>
	      <div class="w3-half w3-center">
		<p id="number-of-racks">NIL</p>
	      </div>
	    </div>

	    <div class="w3-row-padding">
	      <div class="w3-half">
		<p>No. machines:</p>
	      </div>
	      <div class="w3-half w3-center">
		<p id="number-of-machines">NIL</p>
	      </div>
	    </div>

	    <div class="w3-row-padding">
	      <div class="w3-center">
		<p id="unit-of-bins">
		  colour code based on usage %
		</p>
	      </div>
	    </div>
	    
	    <div class="w3-cell-row w3-padding w3-round-large">
	      <div class="w3-cell w3-deep-orange" style="width:20%">
		<p id="legend-div-1">0-24%</p>
	      </div>
	      <div class="w3-cell w3-amber" style="width:20%">
		<p id="legend-div-2">25-49%</p>
	      </div>
	      <div class="w3-cell w3-light-green" style="width:20%">
		<p id="legend-div-3">50-74%</p>
	      </div>
	      <div class="w3-cell w3-green" style="width:20%">
		<p id="legend-div-4">74-100%</p>
	      </div>
	      <div class="w3-cell w3-black" style="width:20%">
		<p>No data</p>
	      </div>
	    </div>
	    
	  </div>
	</div>

      <div class="w3-row w3-col s9 w3-dark-grey w3-section w3-card-4 w3-round-large">

	<div id="machine-rack-disp" class="w3-section w3-row-padding w3-small w3-center">
	  <!-- The rack display -->
	</div>

	<div id="machine-graph-disp" class="w3-section w3-row-padding w3-small w3-center" style="display:none">
	  <!-- The graph display -->
	</div>

      </div>
    </div>
    
    <div id="net-diag-div" class="rlmon-display-div" style="display:none">
      net-diag under development
    </div>

    <div id="machine-details-div" class="rlmon-display-div" style="display:none">
      <!-- The machine details page -->
      <div class="w3-container w3-col s4">
	<div class="w3-row s4 w3-padding">
	  <header class="w3-container w3-blue w3-padding w3-round-small">
	    <h3 id="server-name-md" class="w3-center"> </h3>
	  </header>
	</div>
	<div class="w3-container w3-row w3-padding">
	  <div id="controls-md" class="w3-card w3-round-large">
	    <button class="w3-button w3-padding-small w3-round w3-border w3-border-red w3-small w3-red"><i class="fa fa-power-off"></i> Power Off </button>
	    <button id="reboot-button" class="w3-button w3-padding-small w3-round w3-border w3-border-teal w3-small w3-teal"><i class="fa fa-refresh"></i> Reboot </button>
	    <button id="syslog-button" class="w3-button w3-padding-small w3-round w3-border w3-border-indigo w3-small w3-indigo"><i class="fa fa-file"></i> Get Syslog </button>
	    <button class="w3-button w3-padding-small w3-round w3-border w3-border-deep-orange w3-small w3-deep-orange"><i class="fa fa-warning"></i> Warnings </button>
	  </div>
	</div>
	<div id="syslog_modal" class="w3-modal">
	  <div class="w3-modal-content">
	    <div id="syslog_modal_content" class="w3-container">
              <span onclick="document.getElementById('syslog_modal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
	    </div>
	  </div>
	</div>
	<div class="w3-container w3-row">
	  <div class="w3-card-4 w3-round-large">
	    <div class="w3-ul w3-card-4 w3-small w3-round-large" style="width:100%">
	      <table class="w3-table w3-striped w3-bordered">
		<tr id="hostname-md" class="w3-container w3-padding-small"></tr>
		<!-- <li id="ip-info-md" class="w3-container w3-hover-grey w3-padding-small"></li> -->
		<tr id="os-info-md" class="w3-container w3-padding-small"></tr>
		<tr id="cpu-model-md" class="w3-container w3-padding-small"></tr>
		<tr id="ram-capacity-md" class="w3-container w3-padding-small"></tr>
		<tr id="swap-space-md" class="w3-container w3-padding-small"></tr>
	      </table>
	    </div>
	  </div>
	</div>
	<div class="w3-container w3-row w3-padding">
	  <div class="w3-card-4 w3-center w3-light-green w3-round-large">
	    <div id="uptime-info-md" class="w3-container w3-tiny">
	    </div>
	  </div>
	</div>
	<div class="w3-container w3-row w3-padding">
	  <div id="users-last-login-md" class="w3-card-4 w3-center w3-light-grey w3-round-large">
	    <table id="users-last-login-table" class="w3-table-all w3-small w3-round-large">
	    </table>
	  </div>
	</div>
      </div>
      <div id="avg-util-doughnut-chart-div" class="w3-card w3-padding w3-col m5 w3-round w3-center w3-small">
	<div class="w3-container w3-center w3-row-padding w3-light-gray">
	  <div class="w3-container w3-col s3 w3-padding-8">
	    <p class="w3-right-align">From date:</p>
	  </div>
	  <div class="w3-container w3-col s3 w3-padding-16">
	    <input type="date" id="from-date-input-md" name="from-date" value="2021-01-01">
	  </div>
	  <div class="w3-container w3-col s2 w3-padding-8">
	    <p class="w3-right-align">To date:</p>
	  </div>
	  <div class="w3-container w3-col s3 w3-padding-16">
	    <input type="date" id="to-date-input-md" name="to-date" value="2021-01-01">
	  </div>
	</div>
	<div class="w3-container w3-row w3-card-4 w3-round-large w3-white">
	  <div  class="w3-col s4">
	    <canvas id="avg-cpu-util-doughnut-chart-canvas">
	    </canvas>
	  </div>
	  <div  class="w3-col s4">
	    <canvas id="avg-ram-util-doughnut-chart-canvas">
	    </canvas>
	  </div>
	  <div  class="w3-col s4">
	    <canvas id="avg-disk-overall-util-doughnut-chart-canvas">
	    </canvas>
	  </div>
	</div>
	<div class="w3-container w3-row   w3-padding-large w3-round-large w3-white">
	    <!-- <canvas id="avg-disk-util-doughnut-chart-canvas"> -->
	    <!-- </canvas> -->
	    <table id="disk-info-table" class="w3-table-all w3-small w3-round-large">
	    </table>
	</div>
	<div id="cpu-ram-graph-div" class="w3-container w3-row w3-padding-large w3-round-large">
	</div>
      </div>
      <div class="w3-container w3-col m2 w3-padding w3-round">
	<div class="w3-container w3-row w3-round-large w3-tiny">
	  <div class="w3-container w3-card-4 w3-pale-yellow w3-center w3-padding w3-round">
	    <div id="ip-md" class="w3-ul w3-padding-small w3-tiny w3-center">
	    </div>
	  </div>
	  <div class="w3-container w3-card-4 w3-center w3-padding w3-round">
	    <div id="prof-assigned-to-md" class="w3-ul w3-padding-small w3-small w3-center">
	    </div>
	  </div>
	  <div class="w3-container w3-card-4 w3-center w3-padding w3-round">
	    <div id="student-assigned-to-md" class="w3-ul w3-padding-small w3-small w3-center">
	    </div>
	  </div>
	  <div class="w3-container w3-card-4 w3-center w3-padding w3-round">
	    <div id="kvm-info-md" class="w3-ul w3-padding-small w3-small w3-center">
	    </div>
	  </div>
	  <div class="w3-container w3-card-4 w3-center w3-padding w3-round">
	    <div id="comments-md" class="w3-ul w3-padding-small w3-tiny w3-center">
	    </div>
	  </div>
	</div>
      </div>
    </div>
</body>
</html> 
