<!DOCTYPE html5>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/home/sneha/Documents/Sneha/CCBD/JRF/CodeBase/R-LMON/web_frontend/static/css/rlmon_stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <script src="/home/sneha/Documents/Sneha/CCBD/JRF/CodeBase/R-LMON/web_frontend/static/js/rlmon_action.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>

  <!-- <nav id="sidebar"> -->
  <!--   <div class="sidebar-header"> -->
  <!--           <h3>Bootstrap Sidebar</h3> -->
  <!--       </div> -->

  <!--       <ul class="list-unstyled components"> -->
  <!--           <p>Dummy Heading</p> -->
  <!--           <li class="active"> -->
  <!--               <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a> -->
  <!--               <ul class="collapse list-unstyled" id="homeSubmenu"> -->
  <!--                   <li> -->
  <!--                       <a href="#">Home 1</a> -->
  <!--                   </li> -->
  <!--                   <li> -->
  <!--                       <a href="#">Home 2</a> -->
  <!--                   </li> -->
  <!--                   <li> -->
  <!--                       <a href="#">Home 3</a> -->
  <!--                   </li> -->
  <!--               </ul> -->
  <!--           </li> -->
  <!--           <li> -->
  <!--               <a href="#">About</a> -->
  <!--           </li> -->
  <!--           <li> -->
  <!--               <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a> -->
  <!--               <ul class="collapse list-unstyled" id="pageSubmenu"> -->
  <!--                   <li> -->
  <!--                       <a href="#">Page 1</a> -->
  <!--                   </li> -->
  <!--                   <li> -->
  <!--                       <a href="#">Page 2</a> -->
  <!--                   </li> -->
  <!--                   <li> -->
  <!--                       <a href="#">Page 3</a> -->
  <!--                   </li> -->
  <!--               </ul> -->
  <!--           </li> -->
  <!--           <li> -->
  <!--               <a href="#">Portfolio</a> -->
  <!--           </li> -->
  <!--           <li> -->
  <!--               <a href="#">Contact</a> -->
  <!--           </li> -->
  <!--       </ul> -->
  <!-- </nav> -->

  <!-- <div class="container" id="main-div"> -->
  <!--     <div class="row row-m-t align-items-center" id="org-name-with-dot-div"> -->
  <!--   	<div class="col-sm-11" id="org-name-div"> -->
  <!--   	  <dt>Centre for Cloud Computing and Big Data</dt> -->
  <!--   	</div> -->
  <!--   	<div class="col-sm-1 rounded-circle"> -->
  <!--   	</div> -->
  <!--     </div> -->
  <!--     <div class="row row-m-t align-items-center justify-content-md-center"> -->
  <!--   	<div class="col-sm-1 glyphicon glyphicon-menu-hamburger menu-icon-btn"> -->
  <!--   	</div> -->
  <!--   	<div class="col-sm-5" id="portal-name-div"> -->
  <!--   	  <div id="portal-name"> -->
  <!--   	    <dt>Systems Monitoring Dashboard</dt> -->
  <!--   	  </div> -->
  <!--   	</div> -->
  <!--     </div> -->
  <!-- </div> -->
  <div class="container" id="workspace">

    <nav class="navbar navbar-default navbar-fixed-top" id="top-menu-bar">
      <div class="container-fluid">
	<div class="navbar-header" id="dashboard-name">
	  <a class="navbar-brand" href="#">CCBD Systems Monitoring Dashboard</a>
	</div>
	<ul class="nav navbar-nav">
	  <li class="active"><a href="#">Overview</a></li>
	  <li><a href="#">Systems Utlization</a></li>
	  <li><a href="#">Network Diagram</a></li>
	</ul>
      </div>
    </nav>

    <div class="container-fluid overflow-auto" id="tabspace">
      <div class="preferences-div">
	<div class="preference-heading">
	  Preference
	</div>
	<div class="color-criteria-div">
	  <div class="color-criteria-query">
	    Color code based on:
	  </div>
	  <div class="color-criteria-dropdown">
	    <select id="color-criteria" onchange="colorCriteriaChanged()">
	      <option> CPU utilization </option>
	      <option> RAM utilization </option>
	      <option> Disk utilization </option>
	      <option> Last login </option>
	    </select>
	  </div>
	</div>
	<div class="from-date-div">
	  <div class="from-date-query">
	    From Date:
	  </div>
	  <div class="from-date-input-div">
	    <input type="date" id="from-date-input" name="from-date">
	  </div>
	</div>
	<div class="to-date-div">
	  <div class="to-date-query">
	    To Date          :
	  </div>
	  <div class="to-date-input-div">
	    <input type="date" id="to-date-input" name="to-date">
	  </div>
	</div>
      </div>

      <div class="stats-div">
      </div>
      
      <div class="rack-based-view-div">
	<div class="overview-heading">
	  Rack based system view
	</div>
      </div>
    </div>
  </div>

</html>
