<!DOCTYPE html5>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/home/sneha/Documents/Sneha/CCBD/JRF/CodeBase/R-LMON/web_frontend/static/css/rlmon_stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <script src="/home/sneha/Documents/Sneha/CCBD/JRF/CodeBase/R-LMON/web_frontend/static/js/rlmon_action.js"></script>
  </body>

  <div id="main-div">
    
    <div id="org-name-with-dot">
      <div id="org-name-div">
	<h1>Centre for Cloud Computing and Big Data</h1>
      </div>
      <div class="dot align-dot-bottom"></div>
    </div>

    <div id="portal-name-div">
      <div id="portal-name">
	<h1>Systems Monitoring Dashboard</h1>
      </div>
    </div>

    
  </div>
  
</html>
