<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CCBD Systems Monitoring Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="js/rlmon_action.js"></script>
  </head>
  <body onload="rlmon_toggle_nav.setup_nav_buttons();">
    <div id="top-menu">
      <div class="w3-bar w3-black">
	<span class="w3-bar-item"> CCBD Systems Monitoring Dashboard</span>
	<button id="overview-button" class="w3-bar-item w3-button rlmon-display-buttons">Overview</button>
	<button id="sys-util-button" class="w3-bar-item w3-button rlmon-display-buttons">Systems Utlization</button>
	<button id="net-diag-button" class="w3-bar-item w3-button rlmon-display-buttons">Network Diagram</button>
      </div> 
    </div>
    
    <div id="overview-div" class="rlmon-display-div">
      
    </div>
    
    <div id="sys-util-div" class="rlmon-display-div" style="display:none">
      sys-util under development
    </div>
    
    <div id="net-diag-div" class="rlmon-display-div" style="display:none">
      net-diag under development
    </div>

  </body>
</html> 
